.login-form {
    border: 2px solid #EBB85E;
    width: 400px !important;
}

.login-form h3 {
    font-size: 15px;
    font-weight: 700;
    text-align: center;
}

.login-form form {
    display: flex;
    flex-direction: column;
}

.login-form form label {
    font-weight: 500;
}

.login-form form input {
    border: none;
    background-color: rgba(236, 236, 236, 0.9);
    padding: 10px 40px 10px 20px;
}

.login-form form input:focus {
    outline: none;
}

.login-form form div p {
    font-weight: 500;
}

.login-form form div p:hover {
    text-decoration: underline;
    cursor: pointer;
}

.login-form .submit-btn {
    background-color: #EBB85E;
    border: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 35px !important;
}

.login-form .have-account .line {
    border: 1px solid rgba(128, 128, 128, 0.2);
}

.login-form .have-account button {
    padding: 8px 35px;
    border: 1px solid #878787;
    background-color: white;
    color: #878787;
    font-size: 16px;
    font-weight: 500;
}

.google-login button {
    border: 1px solid rgba(0, 0, 0, 0.9);
    color: #6a6a6a;
    padding: 8px 35px;
    background-color: white;
    font-size: 16px;
    font-weight: 500;
}

@media only screen and (max-with:768px) {
    .login-form{
        width: 500px !important;
    }
}