.service {
    width: 400px;
    height: 600px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.service-info h3 {
    font-size: 28px;
    font-weight: 500;
}

.service-info .price {
    font-size: 20px;
    margin-bottom: 8px;
}

.service a button {
    padding: 10px 25px;
    background-color: #EBB85E;
    font-size: 16px;
}