.service {
    width: 400px;
    height: 600px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.service img {
    transition: all 1s ease-in-out;
}

.service img:hover {
    transform: scale(1.2);
}

.service-info h3 {
    font-size: 28px;
    font-weight: 500;
}

.service-info .price {
    font-size: 20px;
    margin-bottom: 8px;
}

.service a button {
    padding: 10px 25px;
    background-color: #EBB85E;
    font-size: 16px;
}

@media only screen and (max-width: 768px) {
    .service {
        width: 330px;
        margin-left: auto;
        margin-right: auto;
    }

    .service img {
        width: 330px;
    }
}