.logo-container {
    text-decoration: none;
}

.logo-container h3 {
    margin-bottom: 0;
}

.logo-container h3 span {
    color: #EBB85E;
}

.navbar-container a,
button {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 400;
}

.navbar-container a:hover {
    color: white;
}

.navbar-container .btn-login {
    border: 2px solid #EBB85E !important;
    padding: 8px 25px;
    background-color: #212529;
    font-size: 20px;
}